# -------------------------
# Random Files/Folders
# -------------------------
private_tests/

# -------------------------
# Python cache / artifacts
# -------------------------
__pycache__/
*.py[cod]

# Editable install metadata
*.egg-info/

# Virtual environment
venv/

# macOS Finder metadata
.DS_Store

# VS Code settings folder
.vscode/
