# -------------------------
# Standard ignores
# -------------------------

# Metadata
.DS_Store

# Editable install metadata
*.egg-info/

# Virtual environment
venv/
.venv/
build/
# For Mediapipe library for hand tracking:
venv311/

# IDE settings folders
.vscode/
.idea/

# Build artifacts
*.py[cod]


# -------------------------
# Unique to this project
# -------------------------

# Random Files/Folders
private_tests/
*temp.py
*test.py

# Config data
configs.example/
!configs.example/