# -------------------------
# Standard ignores
# -------------------------

# Metadata
*.DS_Store

# IDE settings folders
.vscode/
.idea/

# Building/Virtual Environments
venv/
.venv/
build/
uv.lock
**/__pycache__
*.egg-info/
*.py[cod]

# Mediapipe datasets
*.task

# -------------------------
# Unique to this project
# -------------------------

# Random Files/Folders
private_tests/
workspace.md
*temp.py
*test.py

# Config data
configs.example/
!configs.example/

*CURRENT_TASK.md